h1{
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 250%;
}

body{
  padding: 30px;
  margin: 10px;
  background-color: #f3e9dc;
}

header{
  background-color: #ffd5c2;
  background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.left{
  background-color: #f28f3b;
  width: 20%;
  height: 30%;
  float: left;
}

img{
  width: 150px;
  height: 75px;
  background-color: #ff9770;
  padding: 10px;
  margin: 5px;
  float: left;
}

.right{
  background-color: #c8553d;
  float: left;
}

h2{
  text-transform: uppercase;
  color: #f6f4d2;
}

a{
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

section{
  width: 75%;
}

a:hover{
  color: #f7b801;
}

.active{
  background-color: #f7b801;
  color: #ffffff;
}