body{
	background-color: #ffffff;
	margin: 2%;
	padding: 1%;
}

header{
	background-image: url('../images/flywheel.jpg');
	background-color: rgba(244,244,244,0.3);
	padding: 2%;
}
h1{
	text-align: center;
	text-transform: uppercase;
	color: rgb(255,255,255);
	font-style: normal;
}
nav a{
	background-color: rgba(224,224,224,0.5);
	display: inline-block;
	width: 250px;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 30px;
	border: double 1px rgba(224,224,224,0.5);
	border-radius: 1px;
	padding: 10px;
}
.active{
	background-color: #ffffff;
	color: rgb(0,0,0);
}
a{
	color: rgb(0,0,124);
	background-color: rgb(255,255,255);
}

aside{
	display: inline-block;
	width: 25%;
	height: 500px;
}

img {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 10%;
	border : solid 2px #000000;
}
section{
	width: 60%;
	display: inline-block;
}
h2{
	color: rgb(0,0,0);
	text-transform: uppercase;
}
.left{
	background-color: #666600;
	float:left;
	margin-right: 1%;
}
.right{
	float:left;
	background-color: #ffffff;
}